# Игнорируем папку node_modules
node_modules/

# Игнорируем папку build (если такая есть)
build/

# Игнорируем сгенерированные файлы
*.js

# Игнорируем сгенерированные файлы Babel (если используется Babel)
*.babel.js

# Игнорируем файлы статических ресурсов
*.json
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.ttf
*.woff
*.woff2

# Игнорируем сгенерированные файлы Sourcemap
*.map

# Игнорируем файлы локализации (если используется)
*.strings

# Игнорируем файлы логов (если есть)
*.log

# Добавьте сюда другие пути к файлам или папкам, которые вы хотите игнорировать